<div class="container">

  <div class="col-md-6 col-md-offset-3">

      <div class="alert alert-danger" *ngIf="mode==1">
        <strong>Bad Credentials ...</strong>
      </div>

      <div class="panel panel-primary">

        <div class="panel-heading">Authentification</div>

            <div class="panel-body">

              <form #f="ngForm" (ngSubmit)="onLogin(f.value)">

                  <div class="form-group">
                    <label class="control-label">Username :</label>
                    <input class="form-control" type="text" name="username" ngModel="" required>
                  </div>

                  <div class="form-group">
                    <label class="control-label">password:</label>
                    <input class="form-control" type="password" name="password" ngModel="" required>
                  </div>

                  <button type="submit" class="btn btn-danger">Login</button>

                  <button type="submit" class="btn btn-success">Register</button>

              </form>

          </div>

      </div>

  </div>

</div>
