<div class="container">
  <p></p>
  <button class="btn btn-success" (click)="onNewTask()" *ngIf="authService.isAdmin()">New Task</button>
  <p></p>
  <table class="table table-striped">
    <tr>
      <th>Id</th>
      <th>Task Name</th>
    </tr>
    <tr *ngFor="let t of tasks">
      <td>{{t.id}}</td>
      <td>{{t.taskName}}</td>
    </tr>
  </table>
</div>
