<p></p>
<div class="container">
  <button class="btn btn-default" (click)="onLogout()" >Login</button>
  <button routerLink="/tasks" class="btn btn-default">Tasks</button>
  <p></p>
  <router-outlet></router-outlet>
</div>

