<div class="alert alert-danger" *ngIf="mode==0">
  <strong>You are not authorized to add new task</strong>
</div>

<div class="row col-md-6">
  <div class="panel panel-default" *ngIf="mode==1">
    <div class="panel-heading">New Task</div>
    <div class="panel-body">
      <form #f="ngForm" (ngSubmit)="onSaveTask(f.value)">
        <div class="form-group">
          <label class="control-label">Task Name :</label>
          <input type="text" class="form-control" required name="taskName" ngModel="">
        </div>
        <button type="submit" class="btn btn-danger" [disabled]="!f.valid">Add</button>
      </form>
    </div>
  </div>

  <div class="panel panel-default" *ngIf="mode==2">
    <div class="panel-heading">New Task Added</div>
    <div class="panel-body">
      <div class="form-group container">
        <div>
          <label>Id : {{task.id}}</label>
        </div>
        <div>
          <label>TaskName : {{task.taskName}}</label>
        </div>
      </div>
      <button class="btn btn-danger" (click)="mode=1" >New Task</button>
    </div>
  </div>

</div>
